---
name: Build and Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MISE_EXPERIMENTAL: true

jobs:
  testing:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        django-version: ["4", "5", "6"]
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Run Tests
        env:
          UV_PYTHON: ${{ matrix.python-version }}
          DJANGO: ${{ matrix.django-version }}
        run: |
          mise run setup
          mise exec -- uv pip install django==${DJANGO}
          mise run test --cov --cov-report=xml --cov-report term

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
